 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        :root {
            --textSize: 80px;
        }
        body {
            text-align: center;
        }
        button {
            font-size: 40px;
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: arial;
            font-size: var(--textSize);
            border: 0 solid black;
            transition: .5s;

        }
        .larger:hover~h1 {
            font-size: calc(var(--textSize)*2);
        }
        .smaller:hover~h1 {
            font-size: calc(var(--textSize)/2);
        }
        .border:hover~h1 {
            border: 20px solid black;
        }