* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #777;
}

span {
    position: absolute;
    /* width: 60px; */
    /* height: 20px; */
    padding: 20px 40px;
    text-align: center;
    top: 10%;
    left: 10%;
    background-color: #444;
    color: beige;
    cursor: pointer;
}