* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #444;
}

a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) skew(30deg);
	font-size: 40px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-family: roboto condensed, arial;
	border: 3px solid black;
	padding: 25px 50px;
	overflow: hidden;
}

span {	
/*		tutaj zamiast span można też użyć div-a bo a jest już blokowe przez 
		nadaniu mu position absolute
*/	display: block;
	transform: skew(-30deg);
}

a::before {
	content: '';
	position: absolute;
	top: 0;
	left: -30px;
	height: 100%;
	width: 0;
	/*background-color: black;*/
	background-color: #fff;
	transition: .2s linear;
	box-shadow: 0 0 30px 10px white;
}
a::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: black;
	transition: .2s .1s  linear;
}


a:hover::before {
	left: 110%;
}
a:hover::after {
	bottom: 100%;
}