* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
    text-align: center;
}
button {
	padding: 10px 20px;
	margin: 20px;
	background-color: #000;
	color: #fff;
	border: none;
}