* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #555;
}
button {
    position: absolute;
    left: 50%;
    bottom: 10%;
    font-size: 50px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-style: none;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
    overflow: hidden;   
    text-shadow: 0 -20px  white, 0 -40px white;
}
button i {
    transform: translateY(-100%);
    animation: arrow 1s 1s infinite linear; 
}

@keyframes arrow {
    100% {
        transform: translateY(180%);
    }
}